<div class="jumbotron">
  <div class="container">
    <h1>Dimosthenis Tzimoulidis</h1>
    <h4>+306986961176</h4>
  </div>
</div>
<div class="container">
  <div class="row">
    <h1>A small introduction</h1>
    <p>I'm a recent graduate Computer Scientist but i'm writing code and creating stuff for a lot of years now! I'm thrilled about new technologies and always eager
    eager to learn new tools! </p>
  </div>
  <div class="row">
    <h1>Skills</h1>
  </div>
  <div class="row">
    <ul>
      <li>Java</li>
      <li>Python</li>
    </ul>

  </div>
</div>
<app-footer></app-footer>
